* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, monospace;
}


.outer-wrapper {
  width: 100%;
  height: 100vh;
  background: transparent linear-gradient(325deg, #d4e7fe 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
